// Variables
//----------

// Colors
// --------------------------------------------------------
// Neutrals
// --------------------------
$neutral-white: #fff;
$neutral-black: #000;

$neutral-off-white: #F1F1F1;
$neutral-gray10: #E5E5E5;
$neutral-gray20: #C2C2C2;
$neutral-gray50: #B2B2B2;
$neutral-gray60: #7F7F7F;
$neutral-gray80: #4D4D4D;
$neutral-gray90: #222222;
$neutral-off-black: #404040;

// Accents
// --------------------------
$accent-primary: #29ABE2;
$accent-error: #EA5C5C;

$linkColor: $accent-primary;
$linkHover: $neutral-gray50;

// Spectrum
// --------------------------
$spectrum-primary: #775D6B;
$spectrum-primary-light: #E3DEE1;
$spectrum-primary-pale: #F1EEF0;

$spectrum-secondary: #008080;
$spectrum-secondary-light: #CBE5E5;
$spectrum-secondary-pale: #E4F2F2;

$spectrum-tertiary: #EFA517;
$spectrum-tertiary-light: #FBECD0;
$spectrum-tertiary-pale: #FDF5E7;

$spectrum-quaternary: #9E9A8B;
$spectrum-quaternary-light: #EBEAE7;
$spectrum-quaternary-pale: #F5F4F3;

$spectrum-composite: #696d6d;

// Typographic hierarchy
// --------------------------------------------------------
// 45px
$sign30: 2.813rem;
// 41px
$sign20: 2.563rem;
// 37px
$sign10: 2.313rem;

// 34px
$type120: 2.125rem;
// 30px
$type110: 1.875rem;
// 27px
$type100: 1.688rem;
// 25px
$type90: 1.563rem;
// 23px
$type80: 1.438rem;
// $type70: ;
// 20px
$type60: 1.25rem;
// 18px
$type50: 1.125rem;
// $type40: ;
// 16px
$type30: 1rem;
// 14px
$type20: 0.875rem;
$type10: 0.75rem;

// Measurements
// --------------------------------------------------------
// $containerWidth: ∞;

$containerPaddingPhone: 1.063rem;
$containerPaddingTablet: 1.25rem;
$containerPaddingDesktop: 3.125rem;

$containerColumnPadding: 16.519%;
$containerColumnEscape: 24.667%;

$contentImageFloatPadding: 0.875rem;

// Line heights, listed in base 20
// 27.5 px
$baseLineHeight: 1.375;
// 38.46 px
$tabletLineHeight: 1.938;
// 43.766 px
$desktopLineHeight: 2.188;

@mixin verticalSpace($parameter, $unit: rem) {
  #{$parameter}: $baseLineHeight * 1+$unit;
  @include respond($break40) {
    #{$parameter}: $tabletLineHeight * 1+$unit;
  }
  @include respond($break60) {
    #{$parameter}: $desktopLineHeight * 1+$unit;
  }
}

// $durationFast: 0.1s;
$duration: 0.3s;
$durationSlow: 0.4s;
$timing: ease;

// Grid Padding
$gridPadding: 0.98%;
$gridWrapper: -1%;
$gridPadding20: 1.923%;
$gridWrapper20: -2%;
$gridPadding40: 3.333%;
$gridWrapper40: -3.571%;
$gridPadding50: 4.3%;
$gridWrapper50: -4.705%;

// Font Weights
// --------------------------------------------------------
$light: 200;
$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;

$containerMax: 1220px;

// Responsive breakpoints
// Name these whatever you like
// I chose:
// https://en.wikipedia.org/wiki/List_of_lakes_by_area
// --------------------------------------------------------
$break70: $containerMax;
$break60: 1024px;
//
$break50: 860px;
$break40: 768px;
// $break30: ;
$break20: 360px;
$break10: 320px;

// Z-Indeces
// --------------------------------------------------------
// Content:               0  ~   99
// Site Header:         100  ~  199
// Site Hamburger Nav:  200  ~  299
// Lightbox:            300  ~  399