// Base
// ----

// Applies a natural box layout model to all the things
*,
*:before,
*:after {
  box-sizing: border-box;
}

// Sets text selection background color
// @include selection(#b3d4fd);

// Global
// --------------------------------------------------------
html {
	// Set the base font size here, which will correspond to 1em inside <body>
	font-size: 100%;
	// Do you want to force grayscale antialiasing globally in webkit & gecko?
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	// Do you want to enable kerning and ligatures globally in webkit & gecko?
  // Beware that this occasionally causes width:auto elements to break to multiple lines in Chrome
  // It seems that the width of the element is computed prior to kerning
  // https://code.google.com/p/chromium/issues/detail?id=189755
	// text-rendering: optimizeLegibility;
  position: relative;
}

body {
	// Set base font-family here
   	@include font-body;
	font-size: 1em;
	font-weight: $regular;
	line-height: $baseLineHeight;
	// color: $something;
    min-width: $break10;
}

// Block Level Elements
// --------------------------------------------------------
// Headings
// --------------------------
%proto-heading {
  line-height: 1.35em;
  margin: 0;
}

h1 {
  @extend %proto-heading;
  font-size: $sign10;
  margin-bottom: 2em;
}

h2 {
  @extend %proto-heading;
  font-size: $type110;
  margin-bottom: 1.5em;
}

h3 {
  @extend %proto-heading;
  font-size: $type90;
  margin-bottom: 1.5em;
}

h4 {
  @extend %proto-heading;
  font-size: $type80;
  margin-bottom: 1.5em;
}

h5 {
  @extend %proto-heading;
  font-size: $type60;
  margin-bottom: 1em;
}

h6 {
  @extend %proto-heading;
  font-size: $type50;
  margin-bottom: 1em;
}


// Paragraphs
// --------------------------
@mixin copy-primary {
  @include font-body(light);
  font-size: $type60;
  line-height: 1.525;
}

p {
  @include copy-primary;
  margin: 0;
  & + & {
      @include verticalSpace(margin-top);
      // IE 8 fallback
      .no-cssremunit & {
        @include verticalSpace(margin-top, em);
      }
  }
}

// Lists
// --------------------------
ul,
ol {
	// Base list styles
}

// Remove default margins on figure
figure {
  margin: 0;
}

// Tables
// --------------------------
table {
  @include copy-primary;
  width: 100%;
}

// HR
// --------------------------
hr {
  border: 0;
  border-top: 2px solid $neutral-gray50;
  @include respond($break40) {
    border-top: 6px solid $neutral-gray50;
  }
}

// Inline Elements
// --------------------------------------------------------
// Links
// --------------------------
a {
  // Do you want links to transition smoothly between states?
  transition: $duration color $timing;
  text-decoration: none;
  color: $linkColor;
  &:hover {
    color: $linkHover;
  }
  .rte-content &,
  .copy-small & {
    text-decoration: underline;
  }
}

// Inline font modifications using separate families from font-deck
// --------------------------
b,
strong {
  @include font-body(bold);
}

i,
em {
  @include font-body(light-italic);
}