name: Issue Autoresponder
# This workflow is triggered on pushes to the repository.
on:
  issues:
    types: [opened, labeled]

jobs:
  issue-auto-reply:
    runs-on: ubuntu-latest
    steps:
      - uses: "ManifoldScholar/issue-autorespond-action@master"
        id: "issue-autorespond"
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
        with:
          config: |
            [
              {
                "name": "bug-accepted",
                "require": ["bug", "accepted"],
                "source": "master:.github/workflows/responses/bug_accepted.md",
                "close": false
              },
              {
                "name": "in-scope-accepted",
                "require": ["feature", "accepted"],
                "without": ["planned"],
                "source": "master:.github/workflows/responses/in_scope_accepted.md",
                "close": false
              },
              {
                "name": "in-scope-needs-funding",
                "require": ["feature", "needs funding"],
                "without": ["accepted", "planned"],
                "source": "master:.github/workflows/responses/in_scope_needs_funding.md",
                "close": true
              },
              {
                "name": "in-scope-planned",
                "require": ["feature", "accepted", "planned"],
                "source": "master:.github/workflows/responses/in_scope_planned.md",
                "close": false
              },
              {
                "name": "out-of-scope",
                "require": ["out of scope"],
                "source": "master:.github/workflows/responses/out_of_scope.md",
                "close": true
              }
            ]



