name: Issue Autoresponder
# This workflow is triggered on pushes to the repository.
on:
  issues:
    types: [opened]

jobs:

  auto-reply-out-of-scope:
    runs-on: ubuntu-latest

    steps:
      - uses: "zdavis/issue-filter-action@master"
        id: labels
        with:
          labels: "out-of-scope"
      - uses: derekprior/add-autoresponse@master
        if: steps.labels.outputs.match == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
        with:
          respondableId: ${{ github.event.issue.node_id }}
          shouldClose: ${{ true }}
          author: ${{ github.event.issue.user.login }}
          response: |
            Thank you for taking the time to open this feature request. The Manifold team reviewed this issue during our bi-weekly meeting and the consensus is that this feature is not currently in keeping with our vision for the platform. We’re happy to continue discussing it, but for now we’re going to close the issue.


  auto-reply-feature:
    runs-on: ubuntu-latest

    steps:
      - uses: "zdavis/issue-filter-action@master"
        id: labels
        with:
          labels: "feature"
      - uses: zdavis/add-autoresponse@master
        if: steps.labels.outputs.match == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
        with:
          respondableId: ${{ github.event.issue.node_id }}
          response: |
            Thank you for taking the time to open this feature request. The Manifold team reviewed this issue during our bi-weekly meeting and the consensus is that this feature makes sense and is in keeping with our overall vision for the platform. Moreover, we see this request as a viable candidate for development under our current available funding. We’re adding an “accepted” label to this request to indicate that it’s within scope and possibly within budget.

            The next step is for us to estimate the work involved with this and add it to our feature backlog. Our acceptance of the issue is not a promise that it will be implemented. We will balance this request against the other accepted requests and do our best to implement it within our current available funding.

            _This was an automated message, but please don't hesitate to reply. Our team watches these issues closely and will respond as soon as we're able to!_
          author: ${{ github.event.issue.user.login }}
