name: Issue Autoresponder
# This workflow is triggered on pushes to the repository.
on:
  issues:
    types: [opened]

jobs:

  auto-reply-bug:
    runs-on: ubuntu-latest

    steps:
      - uses: "zdavis/issue-filter-action@master"
        id: labels
        with:
          labels: "bug"
      - uses: derekprior/add-autoresponse@master
        if: steps.labels.outputs.match == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          respondableId: ${{ github.event.issue.node_id }}
          response: "This issue is a bug."
          author: ${{ github.event.issue.user.login }}

  auto-reply-feature:
    runs-on: ubuntu-latest

    steps:
      - uses: "zdavis/issue-filter-action@master"
        id: labels
        with:
          labels: "bug"
      - uses: derekprior/add-autoresponse@master
        if: steps.labels.outputs.match == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          respondableId: ${{ github.event.issue.node_id }}
          response: "This issue is a feature."
          author: ${{ github.event.issue.user.login }}
