name: Issue Autoresponder
# This workflow is triggered on pushes to the repository.
on:
  issues:
    types: [opened]

jobs:
  auto-response:
    runs-on: ubuntu-latest

    steps:
      - uses: "zdavis/filter-event-action@master"
        env:
          DEBUG: true
        with:
          args: '"event.issue.labels.find(function(label) { return label.name === "bug" })"'
      - uses: derekprior/add-autoresponse@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          respondableId: ${{ github.event.issue.node_id }}
          response: "Test response test response!"
          author: ${{ github.event.issue.user.login }}
