name: Bot Holla Back
# This workflow is triggered on pushes to the repository.
on:
  issue_comment:
    types: [created]

jobs:
  issue-auto-reply:
    runs-on: ubuntu-latest
    steps:
      - uses: "ManifoldScholar/issue-autorespond-action@master"
        id: "issue-autorespond"
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
        with:
          config: |
            [
              {
                "name": "bug",
                "labels": ["bug", "planned"],
                "source": "master:.github/workflows/responses/bug_accepted.md",
                "close": false
              },
              {
                "name": "accept",
                "labels": ["feature", "accepted"],
                "source": "master:.github/workflows/responses/in_scope_accepted.md",
                "close": false
              },
              {
                "name": "funding",
                "require": ["feature", "needs funding"],
                "source": "master:.github/workflows/responses/in_scope_needs_funding.md",
                "close": true
              },
              {
                "name": "planned",
                "require": ["feature", "planned"],
                "source": "master:.github/workflows/responses/in_scope_planned.md",
                "close": false
              },
              {
                "name": "reject",
                "require": ["out of scope"],
                "source": "master:.github/workflows/responses/out_of_scope.md",
                "close": true
              }
            ]



