name: Greet Everyone
# This workflow is triggered on pushes to the repository.
on:
  issues:
    types: [opened]

jobs:
  auto-response:
    runs-on: ubuntu-latest

    steps:
      - uses: "dschep/filter-event-action@master"
        with:
          args: "console.log(event)"
      - uses: derekprior/add-autoresponse@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          respondableId: ${{ github.event.issue.node_id }}
          response: "Test response test response!"
          author: ${{ github.event.issue.user.login }}
